<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.mytodo.mappers.MytodoMapper">
    <sql id="responseColumns">
        id, content, done, created_at as createdAt, modified_at as modifiedAt , memberid
    </sql>

<!--    <resultMap id="todoResultMap" type="com.kitri.springbasicboot.lesson.mybatis.dto.ResponseTodo">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="content" column="content"/>-->
<!--        <result property="done" column="done"/>-->
<!--        <result property="createdAt" column="created_at"/>-->
<!--        <result property="modifiedAt" column="modified_at"/>-->
<!--    </resultMap>-->
    <!-- 멤버정보 확인 -->
    <select id="memberInfo" resultType="com.kitri.mytodo.dto.MemberInfo" >
        SELECT memberid, email, name, password FROM member
    </select>
    <!-- 멤버정보 추가 -->
    <insert id="memberSave" parameterType="com.kitri.mytodo.dto.MemberInfo">
        INSERT INTO member (
            email, name, password
        ) VALUES ( #{email}
                 , #{name}
                 , #{password})
    </insert>
    <!-- todo정보 확인 -->
    <select id="findAll" resultType="com.kitri.mytodo.dto.ResponseTodo" >
        SELECT <include refid="responseColumns"/>  FROM todo
    </select>
    <!-- todo정보 추가 -->
    <insert id="save" parameterType="com.kitri.mytodo.dto.RequestTodo">
        INSERT INTO todo (
            content, done , memberid
        ) VALUES ( #{content}
                 , #{done}
                 , #{memberid})
    </insert>
    <!-- todo정보 수정 -->
    <update id="update" parameterType="com.kitri.mytodo.dto.RequestTodo">
        UPDATE todo
        SET
            done = #{done}
        WHERE
            id = #{id}
    </update>
    <!-- todo정보 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM
            todo
        WHERE
            id = #{id}
    </delete>
</mapper>